@import '../../styles'

// Reset the ng-ul styles
::ng-deep ul
	margin: 0
	padding: 0

.content-container
	padding-top: 2%
	.window
		display: none /* flex */
		position: absolute
		background-color: $color_mono100
		margin-top: 30px
		max-width: 82vw
		min-height: 75vh
		z-index: 5
		box-shadow: -4px -4px 0px 0px #7E7E7E inset 2px 2px 0px 0px #F0F0F0 inset -2px -2px 0px 0px #262626 inset
		@media (max-width: 768px)
			max-width: 71% 
			min-height: 40vh
		.window-header
			display: flex
			background-color: $color_blue100
			width: 100%
			margin-left: 0
			padding: 5px  0px
			height: 42px
			justify-content: space-between
			.option-text
				display: flex
				align-items: center
				img
					display: inline-block
					width: 32px
					height: 32px
					padding-left: 4px
				p
					display: inline-block
					color: $color_mono_white
					font-size: $font_sizeSmall
					padding-top: 10px
					padding-left: 8px
					font-family: $font_principal
		.option-buttons
			button
				background-color: transparent
				border: none
				cursor: pointer
				padding-left: 1px
		.window-header-edit
			background-color: $color_mono100
			width: 100%
			height: 22px
			.edit-options
				padding-top: 11px
				ul
					padding-left: 10px
					display: flex
					gap: 22px
					li
						display: inline-block
						font-size: $font_sizeSmall
						font-family: $font_principal
		.divider-no-hr
			background: var(--mono-300, #8E8E8E)
			margin-top: 15px
			margin-bottom: 15px
			width: 100%
			height: 2px
		.header-search-option
			display: flex
			width: 100%
			height: 25px
			gap: 15px
			.search-bar
				width: 92%
				padding-left: 15px
				padding-top: 3px
				height: 25px
				background-color: $color_mono_white
				p
					font-size: $font_sizeSmall
					font-family: $font_principal
			h3
				font-size: $font_sizeSmall
				font-family: $font_principal
				padding-left: 10px
		.content-container-inner
			display: flex
			width: 100%
			max-height: 60vh
			overflow: scroll
			background-image: url('https://i.imgur.com/SHZe50s.gif')
			.container
				display: flex
				flex-direction: column
				align-items: center
				width: 100%
				height: 100%
				margin-bottom: 30px
				.header-image
					margin-top: 30px
				header
					margin-top: 20px
					display: block
					img
					@media (max-width: 768px)
						width: 70%
					@keyframes blink
						0%
							opacity: 1
						50%
							opacity: 0
						100%
							opacity: 1
					.tab.blink
						animation: blink 1s infinite
					.tab
						color: $color_yellow100
						font-family: $font_principal
						font-size: 50px
						font-weight: bold
						text-align: center
				.content
					p
						color: $color_mono_white
						text-align: center
						font-size: 30px
						line-height: normal
					h2
						color: $color_mono_white
						font-family: $font_principal
						font-size: $font_sizeBiggerXX
					.alertNoFav
						color: $color_mono_white
						font-family: $font_principal
						font-size: $font_sizeBiggerXX
					footer
						display: flex
						flex-direction: column
						align-items: center
						text-align: center
						margin: 0 auto
					mat-grid-tile
							mat-card 
								background-color: white
								margin: 10px
								img 
									max-width: 100%
								mat-card-content 
									h3
										font-family: $font_principal
										font-size: $font_sizeMedium
										color: $color_mono_black
										padding-top: 13px
									ul
										padding-top: 0px
										padding-left: 0px
										padding-bottom: 20p
										list-style-type: none
										li 
											font-size: $font_sizeSmall
											font-family: $font_principal
											color: $color_mono_black
								mat-card-actions
									padding-bottom: 20px
									gap: 10px
									.favorite 
										width: 20%
										background-color: $color_mono_white
										border: 1px solid $color_red200
										.heart-icon
											color: $color_red200
											font-size: 1.5em
									.favorite-checked
										width: 20%
										background-color: $color_red200
										.heart-icon
											color: $color_mono_white
											font-size: 1.5em
									button
										display: block
										width: 80%
										height: 48px
										cursor: pointer
										border: none
										border-radius: 4px
										background-color: #005CA6 // Non-seted 
										color: white
										font-family: $font_principal
					#movieClicked
						padding-top: 50px
						display: flex
						align-content: center
						justify-content: center
						margin: 0 auto
						text-align: center