<section class="main-section">
	<div class="content-container">
		<div class="window container-fluid p-0 m-0" [style.display]="windowVisible ? 'block' : 'none'">
			<div class="window-header">
				<div class="option-text">
					<img src="../../assets/icons/icon_readme.png" alt="">
					<p>Microsoft Internet Explorer</p>
				</div>
				<div class="option-buttons">
					<button>
						<img src="../../assets/icons/icon_i.png" alt="">
					</button>
					<button class="block">
						<img src="../../assets/icons/icon_op.png" alt="">
					</button>
					<button>
						<img src="../../assets/icons/icon_x.png" alt="">
					</button>
				</div>
			</div>
			<div class="window-header-edit">
				<div class="edit-options">
					<ul>
						<li>File</li>
						<li>Edit</li>
						<li>View</li>
						<li>Favorites</li>
						<li>Tools</li>
						<li>Help</li>
					</ul>
				</div>
			</div>
			<div class="divider-no-hr"></div>
			<div class="header-search-option">
				<h3>Address</h3>
				<div class="search-bar">
					<p>https://larissa.com.br</p>
				</div>
			</div>
			<div class="divider-no-hr"></div>
			<div class="content-container-inner">
				<!-- Content -->
			</div>
		</div>
	</div>
</section>
