<section>
	<div class="container">
	  <!-- Alert window when the button has pressed again -->
	  <div class="alertWindow">
		<div class="header-window">
		  <p>Alert</p>
		  <button>
			<img src="../../assets/icons/icon_x.png" alt="">
		  </button>
		</div>
		<h2>Please close the existing window to open another one.</h2>
		<button class="btn-ok">
		  <p>Ok</p>
		</button>
	  </div>
	  
	  <!-- Desktop icons -->
	  <div class="icon-desktop">
		<button
		(click)="toggleStatusWindow()"
		[disabled]="windowVisible"
		[ngStyle]="buttonDisabled ? {'pointer-events': 'none'} : null">
		<img src="../../assets/icons/icon_readme.png" alt="">
		<p>README</p>
	  </button>
	  
	  </div>
	  
	  <!-- Window opened - Ref the option clicked -->
	  <div class="window" [style.display]="windowVisible ? 'block' : 'none'">
		<div class="header-window">
		  <div class="op-text">
			<img src="../../assets/icons/icon_readme.png" alt="">
			<p>Larissa Cristina - Microsoft Internet Explorer</p>
		  </div>
		  <div class="options-btn">
			<button (click)="toggleHideWindow()">
			  <img src="../../assets/icons/icon_i.png" alt="">
			</button>
			<button class="block">
			  <img src="../../assets/icons/icon_op.png" alt="">
			</button>
			<button (click)="toggleStatusWindow()">
			  <img src="../../assets/icons/icon_x.png" alt="">
			</button>
		  </div>
		</div>
		<div class="header-window-edit">
		  <div class="edit-op">
			<ul>
			  <li>File</li>
			  <li>Edit</li>
			  <li>View</li>
			  <li>Favorites</li>
			  <li>Tools</li>
			  <li>Help</li>
			</ul>
		  </div>
		</div>
		<hr class="line">
		<div class="header-search-op">
		  <p>Address</p>
		  <div class="search">
			<p>https://larissa.com.br</p>
		  </div>
		</div>
		<hr class="line">
		<div class="container-content">
		</div>
	  </div>
	  
	  <div class="just-space"></div>
	</div>
  </section>
  