@import '../../styles'

.icons-desktop
	margin-top: 8px
	.icon
		width: 115px
		button
			display: flex
			flex-direction: column
			gap: 6px
			padding: 20px
			border: none
			background-color: transparent
			cursor: pointer
			p
				color: $color_mono_white
				text-align: center
				font-size: $font_sizeSmall
				font-weight: 700
			img
				width: 64px
				height: 64px
		&:hover
			min-height: 125px
			background-color: $color_blue100