<section>
    <div class="desktop-icons">
        <div class="icon-computer">
            <img src="../../assets/icon_computer.png" alt="">
            <p>My Computer</p>
        </div>
        <div class="icon-folder">
            <img src="../../assets/icon_folder.png" alt="">
            <p>My Folder</p>
        </div>
        <div class="icon-trash">
            <img src="../../assets/icon_trash.png" alt="">
            <p>Recycle Bin</p>
        </div>
    </div>
    <!-- <app-window></app-window> -->
</section>